MONGODB_URI=mongodb+srv://pelassyalexandre_db_user:Dpdb9F26DKpUBeQ2@cluster0.tedndbu.mongodb.net/?appName=Cluster0
JWT_SECRET=changez_ce_secret_jwt_super_long_random
RESEND_API_KEY=re_BXJ8po6o_A9bPyyoDRr2dPenNRjeQrzja
CLOUDINARY_CLOUD_NAME=dc0pukumb
CLOUDINARY_API_KEY=275815242643133
CLOUDINARY_API_SECRET=275815242643133
COMUT_OWNER_EMAIL=pelassyalexandre@gmail.com
BASE_URL=https://comut-backend.onrender.com
